{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Доступ запрещен</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Ошибка 403</h1>
        <p>У вас нет разрешения на доступ к этой странице.</p>
        <p>Если вы считаете, что это ошибка, пожалуйста, обратитесь к администратору сайта.</p>
        <p><a href="/">Вернуться на главную страницу</a></p>
    </div>
    <div class="footer">
        &copy; {{ current_year }} Ваш Сайт. Все права защищены.
    </div>
</body>
</html>